extends layout/template.pug

block content

  main.error
    img(src='img/404.svg' alt='404 page not found')
    h1 Oeps... je bent verdwaald!!
    p Je bent op een (nog) niet bestaande pagina beland...
    a.btn(href='/') terug naar home 