extends layout/template.pug

block content
  main
    h1 Account:

    form.account(action='/account' method='POST')
      section
        label(for='firstname') First name
        input(type='text' name='firstname' placeholder='First name' required)

      section
        label(for='lastname') Last name
        input(type='text' name='lastname' placeholder='Last name' required)

      section
        label(for='email') E-mailadres (used for contact)
        input(type='email' name='email' placeholder='E-mail' required)

      hr

      section
        label(for='education') Current study
        input(type='text' name='education' placeholder='Education' required)

      section
        label(for='school') School
        input(type='text' name='school' placeholder='School' required)

      section
        label(for='country') Preferred country
        input(type='text' name='country' placeholder='country' required)

      input(type='submit' value='Update profile')

