extends layout/template.pug

block content
  main.account
    h1 Create account
      if alert != undefined
        each error in alert
          h2.message= `${error.msg}`

    form(action='/add' method='POST')
      section
        label(for='firstname') First name
        input(type='text' name='firstname' placeholder='First name' required)

      section
        label(for='lastname') Last name
        input(type='text' name='lastname' placeholder='Last name' required)

      section
        label(for='email') E-mailadres (used for contact)
        input(type='email' name='email' placeholder='E-mail' required)
        p Note: We will send you a confirmation email

      hr

      section
        label(for='education') Current study
        input(type='text' name='education' placeholder='Education' required)

      section
        label(for='school') School
        input(type='text' name='school' placeholder='School' required)

      section
        label(for='country') Preferred country
        select(name='country' id='country' required)
          option(value='Canada') Canada
          option(value='England') England
          option(value='Japan') Japan
          option(value='Netherlands') Netherlands
          option(value='United States') United States

      input(type='submit' value='Create profile')

    a(href='/') Back to users overview
