extends layout/template.pug

block content

  main.matches
    h1 Matches
    ul
      li
        h2 Langenaam om testen wat er
        p Nederland
        p Studies: Communicatie en multimedia design
        p School : Cambridge university
      li
        h2 Langenaam om testen wat er
        p Nederland
        p Studies: Communicatie en multimedia design
        p School : Cambridge university
      li
        h2 Langenaam om testen wat er
        p Nederland
        p Studies: Communicatie en multimedia design
        p School : Cambridge university