.btn {
    background-color: var(--color-white); 
    border: 1.5px solid var(--color-black);
    color: var(--color-black);
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
  
.btn:hover{
    background-color: var(--color-yellow);
  }

.error {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 10px;
}

.error h1 {
    margin-bottom:10px;
}

.error p {
    margin-bottom:40px;
}

.error img {
    height:600px;
    width:700px;
}

.text404 {
    padding: 100px 140px;
}