.matches ul {
  display: flex;
  flex-wrap: wrap;
}

.matches h2 {
  overflow-wrap: break-word;
}

.matches li {
  background-color: var(--color-yellow);
  margin: 10px 20px 0 0;
  padding: 20px;
  max-width: 320px;
}

.matches p {
  padding-top: 8px;
  text-transform: capitalize;
}